@import "variables";

.width-270{
  min-width: 270px;
  padding: .5rem;
}

.col img{
    position: relative;
    transition: .5s;
}

.slider-img{
  border-radius: $border-rad-1 $border-rad-1 0 0;
  //background-color: $color2;
  background: $linear3;
  object-fit: cover;
}

.card, .carousel{
  border-radius: $border-rad-1;
  box-shadow: 0 0 10px $color17;
  border: none !important;
}

.row h2{
    font-weight: 600;
}

.text{
    height: 3.6rem;
    color: $color7;
    display: flex;
    align-items: center;
    //border-top: .2rem solid $color7;
    //background-color: $color2;
    background: $linear1;
    //border-radius: 0 0 .5rem .5rem;
    border-radius: 0 0 $border-rad-1 $border-rad-1;
    padding: .4rem 2rem .4rem 2rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.text img{
    background-color: $color7;
    border-radius: .5rem;
}

/*.card2 img{
    border-radius: .5rem;
    width: 100%;
}

.card2{
    width: 32%;
    min-width: 260px;
    display: block;
    padding: 0;
}

#second-row{
    gap: .8rem;
    justify-content: center;
}*/
.swiper * {
  overflow-x: visible !important;
}

.row * {
  overflow-x: visible !important;
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-next, .swiper-button-prev {
    color: $color9;
    &:hover, &:active{
      color: $color6;
      transition: color $transition-1;
    }
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: brightness(0%) contrast(100%);
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    //background: #fff;
    //background: $color2;
    background: $linear3;
    box-shadow: 0 0 10px $color17;
    padding: 2.5rem;
    border-radius: $border-rad-1;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer{
      margin-top: 4.5rem;
      padding: 2rem 0;
      //background-color: $color2;
      background: $linear1;
      color: $color7;
      position: relative;
  }

  footer span{
      //font-size: 25px;
    font-size: 2rem;
  }

  footer ul{
      list-style: none;
      padding: .5rem 0;
  }

  footer ul li{
    //font-size: .9rem;
    line-height: 1.8;
}

ul i{
    padding-right: 5px;
}

.newletter{
    padding-top: 8px;
    span{
      font-size: .85rem;
    }
}

.newletter button{
    margin-top: 1rem;
    //padding: 5px;
    //border-radius: $border-rad-1;
    //border: none;
}

footer .copyright{
    //font-size: 0.6rem;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
}

footer .col{
    min-width: 250px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 767px) {

    .width-270{
        min-width: 100%;
    }
  }
