@charset "UTF-8";
html {
  --col1: hsl(0, 0%, 100%);
  --col2: hsl(0, 1%, 82%);
  --col6: hsl(209, 48%, 31%);
  --col7: hsl(206, 48%, 16%);
  --col9: hsl(232, 64%, 9%);
  --col11: hsla(0, 6%, 55%, 0.33);
  --col12: hsla(0, 0%, 0%, 0.4);
  --col13: hsla(0, 0%, 0%, 0.3);
  --col14: hsla(0, 0%, 0%, 0.25);
  --col15: hsl(0, 0%, 20%);
  --col16: hsla(193, 37%, 38%, 0.5);
  --col17: hsla(0, 0%, 0%, 0.75);
  --col-succ: hsl(124, 100%, 17%);
  --col-nosucc: hsl(11, 100%, 30%);
}

html[data-theme='dark'] {
  --col1: hsl(0, 0%, 15%);
  --col2: hsl(0, 1%, 34%);
  --col9: hsl(0, 1%, 82%);
  --col11: hsl(0, 1%, 60%);
  --col13: transparent;
  --col15: hsl(0, 0%, 80%);
  --col16: hsla(193, 37%, 70%, 0.5);
  --col-succ: hsl(90, 66%, 28%);
  --col-nosucc: hsl(0, 62%, 30%);
}

/*$color1: #ffffff;
$color2: #d2d1d1;
$color3: #3071e7; //Nincs használatban
$color4: #4380b1; //Nincs használatban
$color5: #3a668b; //Nincs használatban
$color6: #295074;
$color7: #152B3c;
$color8: #161E35; //Nincs használatban
$color9: #080c25; //Nincs használatban
$color9: #040a0e;
$color10: #98cbea; //Nincs használatban
$color11: #94868633;
$color12: rgba(0, 0, 0, .4);
$color13: rgba(0, 0, 0, .3);
$color14: rgba(0, 0, 0, .25);
$color15: rgba(0, 0, 0, 1);
$color16: rgba(62, 118, 134, 0.50);
$color17: rgba(0, 0, 0, 0.75);*/
.width-270 {
  min-width: 270px;
  padding: .5rem;
}

.col img {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider-img {
  border-radius: 0.5rem 0.5rem 0 0;
  background: var(--col2);
  -o-object-fit: cover;
     object-fit: cover;
}

.card, .carousel {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 10px var(--col17);
          box-shadow: 0 0 10px var(--col17);
  border: none !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.card img, .carousel img {
  border-radius: 0.5rem;
}

.card:hover, .carousel:hover {
  cursor: pointer;
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
  -webkit-box-shadow: 0 0 12px var(--col7);
          box-shadow: 0 0 12px var(--col7);
}

.row h2 {
  font-weight: 600;
}

.text {
  min-height: 3.8rem;
  gap: 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--col7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.15rem solid var(--col7);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: var(--col2);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: .4rem 2rem .4rem 2rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.text .car-name span {
  text-wrap: none !important;
}

.text .daily-price {
  font-weight: 600;
  font-size: 1em;
}

.text .can-rent {
  font-weight: 600;
  color: var(--col-succ);
}

.text .cant-rent {
  font-weight: 600;
  color: var(--col-nosucc);
}

.text .action-price del {
  font-size: 12px;
}

.text img {
  background-color: var(--col7);
  border-radius: .5rem;
}

/*.card2 img{
    border-radius: .5rem;
    width: 100%;
}

.card2{
    width: 32%;
    min-width: 260px;
    display: block;
    padding: 0;
}

#second-row{
    gap: .8rem;
    justify-content: center;
}*/
.swiper * {
  overflow-x: visible !important;
}

.row * {
  overflow-x: visible !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
  color: var(--col9);
}

.swiper .swiper-button-next:hover, .swiper .swiper-button-next:active, .swiper .swiper-button-prev:hover, .swiper .swiper-button-prev:active {
  color: var(--col6);
  -webkit-transition: color 150ms;
  transition: color 150ms;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  -webkit-filter: brightness(0%) contrast(100%);
          filter: brightness(0%) contrast(100%);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--col2);
  -webkit-box-shadow: 0 0 10px var(--col17);
          box-shadow: 0 0 10px var(--col17);
  padding: 1.2rem 1.8rem 5rem 1.8rem;
  border-radius: 0.5rem;
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.swiper-slide:hover {
  cursor: pointer;
  -webkit-transform: scale(0.985) !important;
          transform: scale(0.985) !important;
  -webkit-box-shadow: 0 0 10px var(--col7);
          box-shadow: 0 0 10px var(--col7);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
  font-size: .9rem;
  text-align: left;
  color: var(--col7);
  line-height: 2.1;
}

.card-text img {
  width: 40px;
  background-color: var(--col7);
  border-radius: 0.5rem;
  display: inline;
}

.rate-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*     footer      */
footer {
  margin-top: 4.5rem;
  border-top: 0.15rem solid var(--col7);
  padding: 2rem 0;
  background: var(--col2);
  color: var(--col7);
  position: relative;
}

footer span {
  font-size: 2rem;
}

footer ul {
  list-style: none;
  padding: .5rem 0;
}

footer ul li {
  line-height: 1.8;
}

ul i {
  padding-right: 5px;
}

.newletter {
  padding-top: 8px;
}

.newletter span {
  font-size: .85rem;
}

.newletter button {
  margin-top: 1rem;
}

footer .copyright {
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

footer .col {
  min-width: 250px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .width-270 {
    min-width: 100%;
  }
}

@media only screen and (max-width: 465px) {
  .text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  .card-text, .text {
    font-size: 12px;
  }
  .text img {
    width: 35px;
  }
}
/*# sourceMappingURL=cards.css.map */