@import "variables";

form span{
    color: #f00;
}


.title{
  text-align: center;
  margin: 2rem;
}

.info{
  padding: 1rem;
  margin: 2rem;
  border-bottom: 1px solid gray;
  p{
    margin: 1rem 0;
  }
}

.info span{
    color: $color6;
    font-size: 14px;
}