@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@300;400;700&display=swap');
@import "variables";
*{
  font-family: 'Poppins', sans-serif;
  //paragrafusokhoz, egyébb szöveghez a Lora
  //font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body{
  display: flex;
  flex-direction: column;
  background-color: $color1;
  color: $color15;
  main{
    min-height: 90vh !important;
    flex-grow: 1;
  }
}

html.transition, html.transition *, html.transition *:before, html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) $transition-1*3 !important;
  transition-delay: 0ms !important;
}


::selection {
  color: $color9;
  background: $color2;
  opacity: .4;
}

p{
  //font-family: 'Lora', serif;
  text-align: justify;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.invalid-data{
  outline: #d32d2d 2px solid !important;
}

a{
  color: $color7;
  text-decoration: none;
  &:hover, &:focus{
    color: $color9;
    transform: translate(2px);
    transition: all $transition-1 ease-in-out;
  }
  &:active{
    box-shadow: 0 0 4px $color15;
  }
}

.link{
  padding: .5rem 1rem;
  background-color: $color11;
  min-width: fit-content;
  border-radius: $border-rad-1;
  box-shadow: 0 0 4px $color12;
  border: 1px solid $color14;
}

.input-with-icon {
  background: $color11;
  padding: .5rem 0 .5rem .5rem;
  border-radius: $border-rad-1;
  box-shadow: 0 0 4px $color12;
  border: 1px solid $color14;
  label{
    color: $color7;
  }
  textarea, input, button {
    background: none;
    border: none;
    outline: none;
    padding: .15rem !important;
    border-left: 1px solid rgba(73, 73, 73, 0.25);
    color: $color7;
    //width: 13vw;
    width: 15vw;
    min-width: 150px;
  }
  &:hover{
    transform: scale(1.005);
    box-shadow: 0 0 4px $color15 !important;
    transition: all $transition-1;
  }
  &:focus-within {
    box-shadow: 0 0 4px $color15 !important;
    transition: all $transition-1;
  }
}

.button{
  background: $color11;
  min-width: 3rem !important;
  min-height: 3rem;
  box-shadow: 0 0 4px $color12;
  border: 1px solid $color14;
  border-radius: $border-rad-2;
  margin: .25rem 0;
  &:hover, &:focus-visible{
    box-shadow: 0 0 4px $color15;
    color: $color9;
    transform: scale(1.025);
    transition: all $transition-1 ease-in-out;
  }
}

.button-2{
  @extend .button;
  background: transparent;
  border: 1px solid $color14;
  box-shadow: none;
}
.slider-outer-wrap {
  max-width: 20rem;
  .slider {
    padding: 1rem 0;
    width: 100%;

    .slider-bg {
      border: .25rem solid $color11;
      box-shadow: 0 0 4px $color12 !important;
      top: calc(50% - .25rem);
      border-radius: $border-rad-1;
      z-index: -2;
    }

    .slider-progress {
      box-shadow: 0 0 4px $color12 !important;
      border-radius: $border-rad-1;
      background-color: $color7;
      height: .5rem;
      top: calc(50% - .25rem);
      right: 0;
      left: 0;
      z-index: -1;
    }

    input[type=range] {
      background: transparent;
      -webkit-appearance: none;
      pointer-events: none;
      top: 20%;

      &::-moz-range-thumb {
        height: 1.25rem;
        width: 1.25rem;
        background: $color6;
        border-radius: $border-rad-2;
        -moz-appearance: none !important;
        pointer-events: auto;
        border: none;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        height: 1.25rem;
        width: 1.25rem;
        background: $color6;
        border-radius: $border-rad-2;
        -webkit-appearance: none;
        pointer-events: auto;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.category-checkbox {
  //background: $color11;
  border-radius: $border-rad-1;
  color: $color7;
  width: fit-content;
  overflow-y: hidden !important;
  box-shadow: 0 0 4px $color12 !important;
  border: 1px solid $color13;
  cursor: pointer;

  img {
    width: 30px;
    filter: invert(11%) sepia(12%) saturate(4340%) hue-rotate(169deg) brightness(15%) contrast(87%);
  }

  span {
    overflow-y: hidden !important;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px $color15 !important;
    transition: all $transition-1;
  }

  &:focus-within {
    box-shadow: 0 0 4px $color15 !important;
    transition: all $transition-1;
  }
}

.active-checkbox {
  background-color: $color16 !important;
  border: 3px solid $color14;
}

.droplist-button {
  position: relative;
  max-width: 100%;
  //width: 15vw;
  width: 100%;
  .droplist-toggle-text{
    text-overflow: ellipsis;
    max-width: calc(80%);
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
  }
}

.droplist-button:hover ~ .droplist{
  transform: scale(1.005) translateX(1px) translateY(1px);
  box-shadow: 0 0 4px $color15 !important;
  transition: all $transition-1;
}

.droplist-btn-clear-bottom {
  border-radius: $border-rad-1 $border-rad-1 0 0 !important;
}

.droplist {
  position: absolute;
  min-width: fit-content;
  //background-color: #969595;
  background-color: #c2c1c1;
  box-shadow: 0 0 4px $color15 !important;
  border-radius: 0 0 $border-rad-1 $border-rad-1;
  z-index: 1;

  label {
    width: 90%;
    background-color: transparent;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      background-color: $color2;
      border-radius: $border-rad-1;
      border: 1px solid $color7;

      .modal-header {
        .modal-title {
          color: $color7;
        }
        border-bottom-color: $color7;
      }

      .modal-body {
        background-color: $color1;
        padding: 1.5rem;
      }

      .modal-footer {
        border-top-color: $color7;
      }
    }
  }
}
.dropdown-push-wrap {
  .dropdown-push {
    background-color: $color2;
    border-radius: $border-rad-1;
    &:hover{
      cursor: pointer;
      transform: scale(1.005);
    }
    .dropdown-push-arrow {
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      width: fit-content;
    }
  }

  .dropdown-push-content {
    border-radius: $border-rad-1;
    background-color: $color14;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: .5rem 0 .5rem .5rem;
  font-size: .2em;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 $transition-1*10 infinite linear;
  animation: load8 $transition-1*10 infinite linear;
}
.loader-ok {
  border-top: .75em solid rgba(17,208,41, 0.2);
  border-right: .75em solid rgba(17,208,41, 0.2);
  border-bottom: .75em solid rgba(17,208,41, 0.2);
  border-left: .75em solid #458630;
}
.loader-bad {
  border-top: .75em solid rgba(216,10,10, 0.2);
  border-right: .75em solid rgba(216,10,10, 0.2);
  border-bottom: .75em solid rgba(216,10,10, 0.2);
  border-left: .75em solid #d80a0a;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}
.modal{
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
body, nav {
  padding-right: 0 !important;
}