@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@300;400;700&display=swap");
html {
  --col1: hsl(0, 0%, 100%);
  --col2: hsl(0, 1%, 82%);
  --col6: hsl(209, 48%, 31%);
  --col7: hsl(206, 48%, 16%);
  --col9: hsl(232, 64%, 9%);
  --col11: hsla(0, 6%, 55%, 0.33);
  --col12: hsla(0, 0%, 0%, 0.4);
  --col13: hsla(0, 0%, 0%, 0.3);
  --col14: hsla(0, 0%, 0%, 0.25);
  --col15: hsl(0, 0%, 20%);
  --col16: hsla(193, 37%, 38%, 0.5);
  --col17: hsla(0, 0%, 0%, 0.75);
  --col-succ: hsl(124, 100%, 17%);
  --col-nosucc: hsl(11, 100%, 30%);
}

html[data-theme='dark'] {
  --col1: hsl(0, 0%, 15%);
  --col2: hsl(0, 1%, 34%);
  --col9: hsl(0, 1%, 82%);
  --col11: hsl(0, 1%, 60%);
  --col13: transparent;
  --col15: hsl(0, 0%, 80%);
  --col16: hsla(193, 37%, 70%, 0.5);
  --col-succ: hsl(90, 66%, 28%);
  --col-nosucc: hsl(0, 62%, 30%);
}

/*$color1: #ffffff;
$color2: #d2d1d1;
$color3: #3071e7; //Nincs használatban
$color4: #4380b1; //Nincs használatban
$color5: #3a668b; //Nincs használatban
$color6: #295074;
$color7: #152B3c;
$color8: #161E35; //Nincs használatban
$color9: #080c25; //Nincs használatban
$color9: #040a0e;
$color10: #98cbea; //Nincs használatban
$color11: #94868633;
$color12: rgba(0, 0, 0, .4);
$color13: rgba(0, 0, 0, .3);
$color14: rgba(0, 0, 0, .25);
$color15: rgba(0, 0, 0, 1);
$color16: rgba(62, 118, 134, 0.50);
$color17: rgba(0, 0, 0, 0.75);*/
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--col1);
  color: var(--col15);
}

html.transition, html.transition *, html.transition *:before, html.transition *:after {
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 450ms !important;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 450ms !important;
  -webkit-transition-delay: 0ms !important;
          transition-delay: 0ms !important;
}

::-moz-selection {
  color: var(--col9);
  background: var(--col2);
  opacity: .4;
}

::selection {
  color: var(--col9);
  background: var(--col2);
  opacity: .4;
}

p {
  text-align: justify;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.invalid-data {
  outline: #d32d2d 2px solid !important;
}

a {
  color: var(--col7);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--col9);
  -webkit-transform: translate(2px);
          transform: translate(2px);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

a:active {
  -webkit-box-shadow: 0 0 4px var(--col15);
          box-shadow: 0 0 4px var(--col15);
}

.link {
  padding: .5rem 1rem;
  background-color: var(--col11);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 4px var(--col12);
          box-shadow: 0 0 4px var(--col12);
  border: 1px solid var(--col14);
}

.input-with-icon {
  background: var(--col11);
  padding: .5rem 0 .5rem .5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 4px var(--col12);
          box-shadow: 0 0 4px var(--col12);
  border: 1px solid var(--col14);
}

.input-with-icon label {
  color: var(--col7);
}

.input-with-icon input, .input-with-icon button {
  background: none;
  border: none;
  outline: none;
  padding: .15rem !important;
  border-left: 1px solid rgba(73, 73, 73, 0.25);
  color: var(--col7);
  width: 15vw;
  min-width: 150px;
}

.input-with-icon:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.input-with-icon:focus-within {
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.button, .button-2 {
  background: var(--col11);
  min-width: 3rem !important;
  min-height: 3rem;
  -webkit-box-shadow: 0 0 4px var(--col12);
          box-shadow: 0 0 4px var(--col12);
  border: 1px solid var(--col14);
  border-radius: 1rem;
  margin: .25rem 0;
}

.button:hover, .button-2:hover, .button:focus-visible, .button-2:focus-visible {
  -webkit-box-shadow: 0 0 4px var(--col15);
          box-shadow: 0 0 4px var(--col15);
  color: var(--col9);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.button-2 {
  background: transparent;
  border: 1px solid var(--col14);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-outer-wrap {
  max-width: 20rem;
}

.slider-outer-wrap .slider {
  padding: 1rem 0;
  width: 100%;
}

.slider-outer-wrap .slider .slider-bg {
  border: 0.25rem solid var(--col11);
  -webkit-box-shadow: 0 0 4px var(--col12) !important;
          box-shadow: 0 0 4px var(--col12) !important;
  top: calc(50% - .25rem);
  border-radius: 0.5rem;
  z-index: -2;
}

.slider-outer-wrap .slider .slider-progress {
  -webkit-box-shadow: 0 0 4px var(--col12) !important;
          box-shadow: 0 0 4px var(--col12) !important;
  border-radius: 0.5rem;
  background-color: var(--col7);
  height: .5rem;
  top: calc(50% - .25rem);
  right: 0;
  left: 0;
  z-index: -1;
}

.slider-outer-wrap .slider input[type=range] {
  background: transparent;
  -webkit-appearance: none;
  pointer-events: none;
  top: 20%;
}

.slider-outer-wrap .slider input[type=range]::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  background: var(--col6);
  border-radius: 1rem;
  -moz-appearance: none !important;
  pointer-events: auto;
  border: none;
  cursor: pointer;
}

.slider-outer-wrap .slider input[type=range]::-webkit-slider-thumb {
  height: 1.25rem;
  width: 1.25rem;
  background: var(--col6);
  border-radius: 1rem;
  -webkit-appearance: none;
  pointer-events: auto;
  border: none;
  cursor: pointer;
}

.category-checkbox {
  border-radius: 0.5rem;
  color: var(--col7);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-y: hidden !important;
  -webkit-box-shadow: 0 0 4px var(--col12) !important;
          box-shadow: 0 0 4px var(--col12) !important;
  border: 1px solid var(--col13);
  cursor: pointer;
}

.category-checkbox img {
  width: 30px;
  -webkit-filter: invert(11%) sepia(12%) saturate(4340%) hue-rotate(169deg) brightness(15%) contrast(87%);
          filter: invert(11%) sepia(12%) saturate(4340%) hue-rotate(169deg) brightness(15%) contrast(87%);
}

.category-checkbox span {
  overflow-y: hidden !important;
}

.category-checkbox:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.category-checkbox:focus-within {
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.active-checkbox {
  background-color: var(--col16) !important;
  border: 3px solid var(--col14);
}

.droplist-button {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.droplist-button .droplist-toggle-text {
  text-overflow: ellipsis;
  max-width: calc(80%);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.droplist-button:hover ~ .droplist {
  -webkit-transform: scale(1.005) translateX(1px) translateY(1px);
          transform: scale(1.005) translateX(1px) translateY(1px);
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.droplist-btn-clear-bottom {
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.droplist {
  position: absolute;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #c2c1c1;
  -webkit-box-shadow: 0 0 4px var(--col15) !important;
          box-shadow: 0 0 4px var(--col15) !important;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 1;
}

.droplist label {
  width: 90%;
  background-color: transparent;
}

.modal .modal-dialog .modal-content {
  background-color: var(--col2);
  border-radius: 0.5rem;
  border: 1px solid var(--col7);
}

.modal .modal-dialog .modal-content .modal-header {
  border-bottom-color: var(--col7);
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: var(--col7);
}

.modal .modal-dialog .modal-content .modal-body {
  background-color: var(--col1);
  padding: 1.5rem;
}

.modal .modal-dialog .modal-content .modal-footer {
  border-top-color: var(--col7);
}

.dropdown-push-wrap .dropdown-push {
  background-color: var(--col2);
  border-radius: 0.5rem;
}

.dropdown-push-wrap .dropdown-push:hover {
  cursor: pointer;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.dropdown-push-wrap .dropdown-push .dropdown-push-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown-push-wrap .dropdown-push-content {
  border-radius: 0.5rem;
  background-color: var(--col14);
}
/*# sourceMappingURL=global.css.map */