@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Poppins:wght@300;400;700&display=swap');
@import "variables";
*{
  font-family: 'Poppins', sans-serif;
  //paragrafusokhoz, egyébb szöveghez a Lora
  //font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.invalid-data{
  outline: #d32d2d 2px solid !important;
}