@import "variables";
#header-wrap{
  padding: 0;
  overflow-y: hidden;
  margin-bottom: 4.5rem;
  position: relative;
  box-shadow: 10px 0 30px $color12;
  background-color: #0f1719;
  #image-bg{
    z-index: -1 !important;
    filter: blur(4px);
    transform: scale(1.05);
    object-fit: contain;
    height: calc(100vh - 4.6rem);
  }
  #wrap-header-content {
    #header-text-content {
      h6 {
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 6px $color2;
        font-size: 15vw;
        overflow: hidden;
        text-align: center;
      }
      p {
        font-size: 2vw;
        color: $color2;
        font-weight: 500;
        text-shadow: 2px 2px $color7;
        text-align: left;
      }
    }

    #header-card {
      z-index: 1;
      width: 20rem;
      height: calc(100vh - 4.6rem);
      min-height: max-content !important;
      //background: rgba(210, 209, 209, 1);
      background: $linear2;
      //opacity: .8;
      box-shadow: 0 0 4px $color12;
      border-left: 1px solid $color14;
      border-right: 1px solid $color14;

      input {
        -webkit-appearance: none;
        -moz-appearance: textfield;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #header-wrap {
    #wrap-header-content {
      flex-wrap: wrap;
      #header-text-content {
        width: fit-content;
        p{
          font-size: 4vw;
        }
      }
      #header-card{
        width: 90%;
        min-height: max-content !important;
        height: auto !important;
        border-radius: $border-rad-1;
        //background: rgba(210, 209, 209, 0.9);
        opacity: .9;
      }
    }
  }
}
@media only screen and (max-height: 580px) {
  #header-wrap #wrap-header-content #header-card{
    width: 80%;
    form {
      flex-direction: row !important;
      flex-wrap: wrap;

      div {
        //width: auto !important;
        input[type=datetime-local] {
          min-width: max-content !important;
        }
        button, input[type=submit]{
          padding: .65rem 2rem;
        }
      }
    }
  }
}
/*HEIGHT MEDIA QUERY*/
@media only screen and (max-height: 660px) {
  #header-wrap #wrap-header-content {
    #header-text-content {
      display: none;
    }
    #header-card{
      min-height: max-content !important;
      height: auto !important;
      border-radius: $border-rad-1;
    }
  }
}

/*HEIGHT MEDIA QUERY*/
@media only screen and (max-height: 700px) {
  #header-wrap #wrap-header-content #header-text-content {
    h6{
      -webkit-text-stroke: 2px $color2;
    }
    p {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  #header-wrap #wrap-header-content #header-text-content {
    h6 {
      -webkit-text-stroke: 2px $color2;
    }
    p{
      font-size: 2.5vw;
    }
  }
}