@charset "UTF-8";
html {
  --col1: hsl(0, 0%, 100%);
  --col2: hsl(0, 1%, 82%);
  --col6: hsl(209, 48%, 31%);
  --col7: hsl(206, 48%, 16%);
  --col9: hsl(232, 64%, 9%);
  --col11: hsla(0, 6%, 55%, 0.33);
  --col12: hsla(0, 0%, 0%, 0.4);
  --col13: hsla(0, 0%, 0%, 0.3);
  --col14: hsla(0, 0%, 0%, 0.25);
  --col15: hsl(0, 0%, 20%);
  --col16: hsla(193, 37%, 38%, 0.5);
  --col17: hsla(0, 0%, 0%, 0.75);
  --col-succ: hsl(124, 100%, 17%);
  --col-nosucc: hsl(11, 100%, 30%);
}

html[data-theme='dark'] {
  --col1: hsl(0, 0%, 15%);
  --col2: hsl(0, 1%, 34%);
  --col9: hsl(0, 1%, 82%);
  --col11: hsl(0, 1%, 60%);
  --col13: transparent;
  --col15: hsl(0, 0%, 80%);
  --col16: hsla(193, 37%, 70%, 0.5);
  --col-succ: hsl(90, 66%, 28%);
  --col-nosucc: hsl(0, 62%, 30%);
}

/*$color1: #ffffff;
$color2: #d2d1d1;
$color3: #3071e7; //Nincs használatban
$color4: #4380b1; //Nincs használatban
$color5: #3a668b; //Nincs használatban
$color6: #295074;
$color7: #152B3c;
$color8: #161E35; //Nincs használatban
$color9: #080c25; //Nincs használatban
$color9: #040a0e;
$color10: #98cbea; //Nincs használatban
$color11: #94868633;
$color12: rgba(0, 0, 0, .4);
$color13: rgba(0, 0, 0, .3);
$color14: rgba(0, 0, 0, .25);
$color15: rgba(0, 0, 0, 1);
$color16: rgba(62, 118, 134, 0.50);
$color17: rgba(0, 0, 0, 0.75);*/
#header-wrap {
  padding: 0;
  overflow-y: hidden;
  margin-bottom: 4.5rem;
  position: relative;
  -webkit-box-shadow: 10px 0 30px var(--col12);
          box-shadow: 10px 0 30px var(--col12);
  background-color: #0f1719;
}

#header-wrap #image-bg {
  z-index: -1 !important;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -o-object-fit: contain;
     object-fit: contain;
  height: calc(100vh - 4.6rem);
}

#header-wrap #wrap-header-content #header-text-content h6 {
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 6px var(--col2);
  font-size: 15vw;
  overflow: hidden;
  text-align: center;
}

#header-wrap #wrap-header-content #header-text-content p {
  font-size: 2vw;
  color: var(--col2);
  font-weight: 500;
  text-shadow: 2px 2px var(--col7);
  text-align: left;
}

#header-wrap #wrap-header-content #header-card {
  z-index: 1;
  width: 20rem;
  height: calc(100vh - 4.6rem);
  min-height: -webkit-max-content !important;
  min-height: -moz-max-content !important;
  min-height: max-content !important;
  background: var(--col2);
  -webkit-box-shadow: 0 0 4px var(--col12);
          box-shadow: 0 0 4px var(--col12);
  border-left: 1px solid var(--col14);
  border-right: 1px solid var(--col14);
}

#header-wrap #wrap-header-content #header-card input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
  #header-wrap #wrap-header-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #header-wrap #wrap-header-content #header-text-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #header-wrap #wrap-header-content #header-text-content p {
    font-size: 4vw;
  }
  #header-wrap #wrap-header-content #header-card {
    width: 90%;
    min-height: -webkit-max-content !important;
    min-height: -moz-max-content !important;
    min-height: max-content !important;
    height: auto !important;
    border-radius: 0.5rem;
    opacity: .9;
  }
}

@media only screen and (max-height: 580px) {
  #header-wrap #wrap-header-content #header-card {
    width: 80%;
  }
  #header-wrap #wrap-header-content #header-card form {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #header-wrap #wrap-header-content #header-card form div input[type=datetime-local] {
    min-width: -webkit-max-content !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
  }
  #header-wrap #wrap-header-content #header-card form div button, #header-wrap #wrap-header-content #header-card form div input[type=submit] {
    padding: .65rem 2rem;
  }
}

/*HEIGHT MEDIA QUERY*/
@media only screen and (max-height: 660px) {
  #header-wrap #wrap-header-content #header-text-content {
    display: none;
  }
  #header-wrap #wrap-header-content #header-card {
    min-height: -webkit-max-content !important;
    min-height: -moz-max-content !important;
    min-height: max-content !important;
    height: auto !important;
    border-radius: 0.5rem;
  }
}

/*HEIGHT MEDIA QUERY*/
@media only screen and (max-height: 700px) {
  #header-wrap #wrap-header-content #header-text-content h6 {
    -webkit-text-stroke: 2px var(--col2);
  }
  #header-wrap #wrap-header-content #header-text-content p {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #header-wrap #wrap-header-content #header-text-content h6 {
    -webkit-text-stroke: 2px var(--col2);
  }
  #header-wrap #wrap-header-content #header-text-content p {
    font-size: 2.5vw;
  }
}
/*# sourceMappingURL=index.css.map */