@charset "UTF-8";
html {
  --col1: hsl(0, 0%, 100%);
  --col2: hsl(0, 1%, 82%);
  --col6: hsl(209, 48%, 31%);
  --col7: hsl(206, 48%, 16%);
  --col9: hsl(232, 64%, 9%);
  --col11: hsla(0, 6%, 55%, 0.33);
  --col12: hsla(0, 0%, 0%, 0.4);
  --col13: hsla(0, 0%, 0%, 0.3);
  --col14: hsla(0, 0%, 0%, 0.25);
  --col15: hsl(0, 0%, 20%);
  --col16: hsla(193, 37%, 38%, 0.5);
  --col17: hsla(0, 0%, 0%, 0.75);
  --col-succ: hsl(124, 100%, 17%);
  --col-nosucc: hsl(11, 100%, 30%);
}

html[data-theme=dark] {
  --col1: hsl(0, 0%, 15%);
  --col2: hsl(0, 1%, 34%);
  --col9: hsl(0, 1%, 82%);
  --col11: hsl(0, 1%, 60%);
  --col13: transparent;
  --col15: hsl(0, 0%, 80%);
  --col16: hsla(193, 37%, 70%, 0.5);
  --col-succ: hsl(90, 66%, 38%);
  --col-nosucc: hsl(0, 92%, 30%);
}

/*$color1: #ffffff;
$color2: #d2d1d1;
$color3: #3071e7; //Nincs használatban
$color4: #4380b1; //Nincs használatban
$color5: #3a668b; //Nincs használatban
$color6: #295074;
$color7: #152B3c;
$color8: #161E35; //Nincs használatban
$color9: #080c25; //Nincs használatban
$color9: #040a0e;
$color10: #98cbea; //Nincs használatban
$color11: #94868633;
$color12: rgba(0, 0, 0, .4);
$color13: rgba(0, 0, 0, .3);
$color14: rgba(0, 0, 0, .25);
$color15: rgba(0, 0, 0, 1);
$color16: rgba(62, 118, 134, 0.50);
$color17: rgba(0, 0, 0, 0.75);*/
nav {
  z-index: 1000;
  background: var(--col2);
  border-bottom: 0.15rem solid var(--col7);
}
nav #navToggle {
  transform-origin: top;
  max-height: 3.5rem;
  overflow-y: hidden;
}
nav #logo-wrap #logo {
  width: fit-content;
  gap: 0.5rem;
  background-color: var(--col11);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px var(--col12);
  border: 1px solid var(--col14);
  padding: 0.5rem 1rem;
}
nav #logo-wrap #logo img {
  width: 2rem;
  background-color: var(--col7);
  padding: 0.1rem;
  border-radius: 50%;
}
nav #logo-wrap:hover, nav #logo-wrap:focus, nav #logo-wrap:active {
  transform: none;
  box-shadow: none;
}
nav #logo-wrap:hover .logo, nav #logo-wrap:focus .logo, nav #logo-wrap:active .logo {
  transform: scale(1.025);
  box-shadow: 0 0 4px var(--col15);
}
nav #search-wrap {
  min-width: 70px;
}
nav #search-wrap #search-bar {
  box-shadow: 0 0 4px var(--col12);
  border: 1px solid var(--col14);
}
nav #user-data {
  border-radius: 50%;
}

.active-page {
  background-color: var(--col16);
  border: 3px solid var(--col14);
}

#user-data img {
  width: 3rem;
  height: 3rem;
  image-resolution: snap;
  border-radius: 50%;
}

#sub-menu {
  z-index: 1000;
  box-shadow: 0 0 4px var(--col12);
  background: var(--col2);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 4.5rem;
  min-width: fit-content;
  padding: 1rem 0 0 0;
  transform-origin: top;
  color: var(--col7);
}
#sub-menu #wrap-to-top {
  min-width: fit-content;
  height: 6rem;
  width: 100%;
}
#sub-menu #wrap-to-top #sub-menu-text {
  min-width: fit-content;
  padding: 0.7rem;
}
#sub-menu #sub-menu-content {
  width: 100%;
}
#sub-menu #sub-menu-content #user-data-content {
  display: flex;
  width: fit-content;
  padding: 0.25rem 1rem;
  margin: auto;
  flex-wrap: wrap;
}
#sub-menu #sub-menu-content #user-data-content #user-data-link {
  border-radius: 50%;
}
#sub-menu #sub-menu-content #user-data-content #user-data-link #user-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
#sub-menu #sub-menu-content a {
  width: fit-content;
  margin-left: auto;
}

#wrap-nav-height {
  height: 4.593rem;
}

@media only screen and (max-width: 1199.99px) {
  nav #nav-toggle {
    display: flex !important;
  }
  nav .link {
    min-width: 90vw;
  }
  nav #search-wrap {
    min-width: 91vw;
  }
  nav #search-wrap #search-bar {
    width: 100%;
    min-width: 200px;
    padding-left: 1rem;
  }
  nav #search-wrap #search-bar input {
    width: 100%;
    min-width: 150px;
    padding: 0.25rem 0;
  }
  nav #search-wrap #search-bar label {
    width: 5vw;
  }
  nav #user-name {
    display: block !important;
    width: max-content;
  }

  #sub-menu {
    width: 100vw;
    height: auto;
    overflow-y: auto !important;
  }
  #sub-menu #sub-menu-content #user-data-content {
    width: 90vw;
    margin: 0;
  }
}
@media only screen and (max-width: 1365px) {
  nav {
    justify-content: center;
  }
  nav #search-wrap #search-bar {
    padding-left: 0.25rem;
  }
  nav #search-wrap #search-bar input {
    width: 50px;
    padding: 0.15rem;
  }
}
@media only screen and (min-width: 1919px) {
  nav #search-wrap #search-bar {
    width: 20vw !important;
  }
  nav #search-wrap #search-bar input {
    width: 100%;
  }
}

/*# sourceMappingURL=navbar.css.map */
