//Változók
$transition-1: 150ms;
$border-rad-1: .5rem;
$border-rad-2: 1rem;
$border-rad-3: 1.5rem;
$border-rad-4: 2.5rem;
$border-rad-5: 50%;

//Színek

html{
  --col1: hsl(0, 0%, 100%);
  --col2: hsl(0, 1%, 82%);
  --col6: hsl(209, 48%, 31%);
  --col7: hsl(206, 48%, 16%);
  --col9: hsl(232, 64%, 9%);
  --col11: hsla(0, 6%, 55%, 0.33);
  --col12: hsla(0, 0%, 0%, 0.4);
  --col13: hsla(0, 0%, 0%, 0.3);
  --col14: hsla(0, 0%, 0%, 0.25);
  --col15: hsl(0, 0%, 20%);
  --col16: hsla(193, 37%, 38%, 0.5);
  --col17: hsla(0, 0%, 0%, 0.75);
  --col-succ: hsl(124, 100%, 17%);
  --col-nosucc: hsl(11, 100%, 30%);
}

html[data-theme='dark']{
  --col1: hsl(0, 0%, 15%);
  --col2: hsl(0, 1%, 34%);
  //--col6: hsl(0, 0, 60%);
  //--col7: hsl(206, 48%, 20%);
  --col9: hsl(0, 1%, 82%);

  --col11: hsl(0, 1%, 60%);
  --col13: transparent;
  --col15: hsl(0, 0%, 80%);
  --col16: hsla(193, 37%, 70%, 0.5);
  --col-succ: hsl(90, 66%, 28%);
  --col-nosucc: hsl(0, 62%, 30%);
}

$color1: var(--col1);
$color2: var(--col2);
$color6: var(--col6);
$color7: var(--col7);
$color9: var(--col9);
$color11: var(--col11);
$color12: var(--col12);
$color13: var(--col13);
$color14: var(--col14);
$color15: var(--col15);
$color16: var(--col16);
$color17: var(--col17);
$color-succ: var(--col-succ);
$color-nosucc: var(--col-nosucc);

//Gradientek
//$linear1: linear-gradient(90deg, $color1 0%, $color2 100%);
//$linear2: linear-gradient(45deg, $color1 0%, $color2 100%);
//$linear3: linear-gradient(180deg, $color1 0%, $color2 100%);
$linear1: $color2;
$linear2: $color2;
$linear3: $color2;

//https://cssgradient.io/
//https://css-tricks.com/snippets/css/fluid-typography/

/*$color1: #ffffff;
$color2: #d2d1d1;
$color3: #3071e7; //Nincs használatban
$color4: #4380b1; //Nincs használatban
$color5: #3a668b; //Nincs használatban
$color6: #295074;
$color7: #152B3c;
$color8: #161E35; //Nincs használatban
$color9: #080c25; //Nincs használatban
$color9: #040a0e;
$color10: #98cbea; //Nincs használatban
$color11: #94868633;
$color12: rgba(0, 0, 0, .4);
$color13: rgba(0, 0, 0, .3);
$color14: rgba(0, 0, 0, .25);
$color15: rgba(0, 0, 0, 1);
$color16: rgba(62, 118, 134, 0.50);
$color17: rgba(0, 0, 0, 0.75);*/